 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Data provided by the City of Frederick's IT department. This site was created and maintained by the Frederick Meetup Groups.</p>
                </div>
                <div class="col-lg-4">
                    <p>For more information on them go to our About Us page. Select the region to be filtered below by sizing the box over the area needed. Then click "Filter".</p>
                </div>
            </div>
        </div>
    </section>
